{%load static%}
<div id="sidebar" class="app-sidebar">

    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
    
    <div class="menu">
    <div class="menu-profile">
    <a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
    <div class="menu-profile-cover with-shadow"></div>
    <div class="menu-profile-image">
    <img src={% static 'img/user/user-13.jpg'%} alt="" />
    </div>
    <div class="menu-profile-info">
    <div class="d-flex align-items-center">
    <div class="flex-grow-1">
    Sean Ngu
    </div>
    <div class="menu-caret ms-auto"></div>
    </div>
    </div>
    </a>
    </div>
    <div id="appSidebarProfileMenu" class="collapse">
    <div class="menu-item pt-5px">
    <a href="javascript:;" class="menu-link">
    <div class="menu-icon"><i class="fa fa-cog"></i></div>
    <div class="menu-text">Settings</div>
    </a>
    </div>
    <div class="menu-item">
    <a href="javascript:;" class="menu-link">
    <div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
    <div class="menu-text"> Send Feedback</div>
    </a>
    </div>
    <div class="menu-item pb-5px">
    <a href="javascript:;" class="menu-link">
    <div class="menu-icon"><i class="fa fa-question-circle"></i></div>
    <div class="menu-text"> Helps</div>
    </a>
    </div>
    <div class="menu-divider m-0"></div>
    </div>
    <div class="menu-header">Navigation</div>
    <div class="menu-item ">
        <a href="index_v3.html" class="menu-link">
            <div class="menu-icon">
                <i class="bg-blue"></i>
            </div>
            <div class="menu-text">Dashboard</div>
        </a>
    </div>
    <div class="menu-item ">
        <a href="customers.html" class="menu-link">
            <div class="menu-icon">
                <i class="bg-red"></i>
            </div>
            <div class="menu-text">Customers</div>
        </a>
    </div>
    <div class="menu-item ">
        <a href="products.html" class="menu-link">
            <div class="menu-icon">
                <i class="bg-green"></i>
            </div>
            <div class="menu-text">Products</div>
        </a>
    </div>
    <div class="menu-item ">
        <a href="invoice.html" class="menu-link">
            <div class="menu-icon">
                <i class="bg-indigo"></i>
            </div>
            <div class="menu-text">Invoice</div>
            <div class="menu-caret"></div>
        </a>
    </div>
    <div class="menu-item d-flex">
    <a href="javascript:;" class="app-sidebar-minify-btn ms-auto" data-toggle="app-sidebar-minify"><i class="ion-ios-arrow-back"></i> <div class="menu-text">Collapse</div></a>
    </div>
    
    </div>
    
    </div>
    
    </div>
    <div class="app-sidebar-bg"></div>
    <div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>